@font-face {
   font-family: "Segoe UI Symbol";
   src: url("fonts/Segoe UI Symbol.eot") format("embedded-opentype"), url("fonts/Segoe UI Symbol.ttf") format("truetype"), url("fonts/Segoe UI Symbol.woff") format("woff"), url("fonts/Segoe UI Symbol.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}